h1 {
  color: blue;
  align-items: center; 
}

body {
background-color: #B6C3FF; 
height: auto; 
}

.logo {
  height: 300px; 
  width: 300px; 

}

@import url('https://fonts.googleapis.com/css?family=Jura:400');
* { font-family: Jura, Arial; font-weight: 400; }